@font-face {
  font-family: BTTF;
  src: url(../fonts/BTTF.ttf);
}

@font-face {
  font-family: digital-7;
  src: url(../fonts/digital-7.ttf);
}

@font-face {
  font-family: "inter";
  src: url(../fonts/Inter/Inter-VariableFont_opsz\wght.ttf);
}

html {
  --text-color: #fff;
  --dashboard-gray: gray;
  --dashboard-dark-gray: rgb(57, 57, 57);
  --time-destination: crimson;
  --time-present: lightgreen;
  --time-departed: yellow;
  --date-month: "";
  --date-day: "";
  --date-year: "";
  --date-hours: "";
  --date-min: "";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* ////////////////////////////////////////////////// */
/* Title */
/* /////////////////////////////////////////////////// */

header {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  z-index: 999999999999999;
  animation: --rise 2s both ease-out, --away 3s 2s both ease-in;
  /* animation: --rise 2s both ease-out; */
}

header span {
  font-family: BTTF;
  font-size: 10vw;
  color: black;
  text-align: center;

  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: lightblue;
  font-synthesis: none;
}
header section {
  display: grid;
  place-items: center;
  width: 100%;
}

header section > div:first-of-type {
  background: linear-gradient(180deg, #dd3029 0%, #fcdc30 100%);
  background-clip: text;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: --slideLeft 1s ease-out both;
}

header section > div:first-of-type span {
  font-size: 14vw;
  padding: 0 10px 0 0;
}

header section > div:first-of-type span:nth-of-type(2) {
  padding: 0 100px 0 0;
  margin: 0 0 0 -50px;
}

header section div:nth-of-type(2) {
  display: flex;
  text-transform: lowercase;
  background: linear-gradient(180deg, #fcdc30 0%, #db3424 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: --slideRight 1s ease-out both;
}

header section div:nth-of-type(2) div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header section div:nth-of-type(2) div span {
  font-size: 4vw;
}

@keyframes --rise {
  0% {
    opacity: 0;
    scale: 0.5;
    letter-spacing: 0.3em;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    scale: 1;
    letter-spacing: 0;
    filter: blur(0px);
  }
}

@keyframes --away {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 100;
  }
}

@keyframes --slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes --slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* ////////////////////////////////////////////////// */
/* Title */
/* /////////////////////////////////////////////////// */

.background {
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  background-image: linear-gradient(
    180deg,
    rgb(53, 33, 88) 0%,
    rgb(136, 76, 237) 25%,
    rgb(210, 54, 116) 75%,
    rgb(136, 76, 237) 100%
  );
  z-index: -5;
}

p {
  bottom: 0;
  color: black;
  width: 100%;
  text-align: center;
}

#dashboard {
  position: absolute;
  width: 100vw;
  height: 40vh;
  bottom: 0;
  border-radius: 10% 0 0 0;
  background-color: var(--dashboard-gray);
  display: grid;
  place-items: center;
}

#windshield {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(126, 229, 246, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 100vw;
  height: 100vh;
}

#frame {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 10vw;
  transform: rotate(-25deg);
  /* background: linear-gradient(
    90deg,
    rgba(70, 70, 70, 1) 0%,
    rgba(148, 148, 148, 1) 40%,
    rgba(191, 191, 191, 1) 70%,
    rgba(148, 148, 148, 1) 100%
  ); */
  background: var(--dashboard-dark-gray);
}

/* #speedometer {
  position: absolute;
  left: 5em;
  bottom: 10em;
  height: 30vh;
  width: 50vw;
  background: var(--dashboard-dark-gray);
  border-radius: 75% 75% 50% 50%/ 75% 75% 50% 50%;
  z-index: 1;
} */
/* #mirror {
  position: absolute;
  left: -16em;
  bottom: 1em;
  width: 20em;
  height: 10em;
  background: linear-gradient(
    180deg,
    rgba(126, 229, 246, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
  border: rgb(76, 76, 76) 1em solid;
  border-radius: 3em;
}

#mirror::after {
  position: absolute;
  right: -6em;
  top: 0;
  width: 6em;
  height: 3em;
  content: "";
  background-color: rgb(76, 76, 76);
} */

main .date {
  position: absolute;
  bottom: 3em;
  right: 1em;
  background-color: gray;
  height: fit-content;
  border: 0.5em solid black;
}

main .date::before {
  position: absolute;
  width: 5em;
  height: 26em;
  content: "";
  background-color: black;
  left: -2.9em;
  bottom: 0;
  clip-path: polygon(50% 0, 10% 75%, 50% 100%);
}

main section {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 10vh;
}

main section div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

main section p {
  padding: 0 0.5em 0 0.5em;
  font-family: "inter";
  font-size: 1em;
  color: white;
  background-color: var(--time-destination);
  text-transform: uppercase;
}

main section p:last-child {
  background-color: black;
  margin: 1em 0 1em 0;
}

main section span {
  font-family: digital-7;
  font-size: 2em;
  color: var(--time-destination);
  background-color: #222;
  padding: 0.5em;
}

main section:nth-child(3) span {
  color: var(--time-present);
}

main section:nth-child(5) span {
  color: var(--time-departed);
}

h3 {
  background-color: black;
  font-family: "inter";
  font-size: 0.7em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

h3::after {
  display: block;
  width: 100%;
  height: 2em;
  background-color: rgb(57, 57, 57);
  content: "";
}

.am-pm {
  font-size: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.am-pm span {
  display: block;
  padding: 0;
  margin: 0 0 0.5em 0;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: var(--time-departed);
}

.am-pm span:nth-of-type(2) {
  background-color: var(--time-destination);
}

.am-pm p {
  margin: 0.5em 0 0.5em 0;
}

.timeNotation {
  margin-top: 1.5em;
}

.timeNotation span {
  background-color: var(--time-departed);
  border-radius: 50%;
  font-size: 0.5em;
}

#month::after {
  content: var(--date-month);
}

#day::after {
  content: var(--date-day);
}

#year::after {
  content: var(--date-year);
}

#hour::after {
  content: var(--date-hours);
}

#min::after {
  content: var(--date-min);
}

fieldset {
  position: relative;
  border: none;
}

fieldset:has([value="1"]:checked) div::after {
  content: "jan";
}
fieldset:has([value="2"]:checked) div::after {
  content: "feb";
}
fieldset:has([value="3"]:checked) div::after {
  content: "mar";
}
fieldset:has([value="4"]:checked) div::after {
  content: "apr";
}
fieldset:has([value="5"]:checked) div::after {
  content: "may";
}
fieldset:has([value="6"]:checked) div::after {
  content: "jun";
}
fieldset:has([value="7"]:checked) div::after {
  content: "jul";
}
fieldset:has([value="8"]:checked) div::after {
  content: "aug";
}
fieldset:has([value="9"]:checked) div::after {
  content: "sep";
}
fieldset:has([value="10"]:checked) div::after {
  content: "oct";
}
fieldset:has([value="11"]:checked) div::after {
  content: "nov";
}
fieldset:has([value="12"]:checked) div::after {
  content: "dec";
}

fieldset:has([value="13"]:checked) div::after {
  content: "5";
}
fieldset:has([value="14"]:checked) div::after {
  content: "6";
}
fieldset:has([value="15"]:checked) div::after {
  content: "7";
}
fieldset:has([value="16"]:checked) div::after {
  content: "8";
}
fieldset:has([value="17"]:checked) div::after {
  content: "9";
}
fieldset:has([value="18"]:checked) div::after {
  content: "10";
}
fieldset:has([value="19"]:checked) div::after {
  content: "11";
}
fieldset:has([value="20"]:checked) div::after {
  content: "12";
}

fieldset:has([value="21"]:checked) div::after {
  content: "1885";
}
fieldset:has([value="22"]:checked) div::after {
  content: "1955";
}
fieldset:has([value="23"]:checked) div::after {
  content: "1985";
}
fieldset:has([value="24"]:checked) div::after {
  content: "2015";
}

fieldset:has([value="25"]:checked) div::after {
  content: "1";
}
fieldset:has([value="26"]:checked) div::after {
  content: "2";
}
fieldset:has([value="27"]:checked) div::after {
  content: "3";
}
fieldset:has([value="28"]:checked) div::after {
  content: "4";
}
fieldset:has([value="29"]:checked) div::after {
  content: "5";
}
fieldset:has([value="30"]:checked) div::after {
  content: "6";
}
fieldset:has([value="31"]:checked) div::after {
  content: "7";
}
fieldset:has([value="32"]:checked) div::after {
  content: "8";
}
fieldset:has([value="33"]:checked) div::after {
  content: "9";
}
fieldset:has([value="34"]:checked) div::after {
  content: "10";
}
fieldset:has([value="35"]:checked) div::after {
  content: "11";
}
fieldset:has([value="36"]:checked) div::after {
  content: "12";
}

input {
  display: none;
  appearance: none;
  position: absolute;
  inset: 0;
  margin: 0;
}

fieldset div {
  font-family: digital-7;
  font-size: 2em;
  color: var(--time-destination);
  background-color: #222;
  padding: 0.5em;
}

input:checked + input,
input:nth-of-type(1):has(~ input:last-of-type:checked) {
  display: block;
}
