@font-face {
  font-family: BTTF;
  src: url(../fonts/BTTF.ttf);
}

@font-face {
  font-family: digital-7;
  src: url(../fonts/digital-7.ttf);
}

@font-face {
  font-family: "inter";
  src: url(../fonts/Inter/Inter-VariableFont_opsz\wght.ttf);
}

html {
  --text-color: #fff;
  --dashboard-gray: gray;
  --dashboard-dark-gray: rgb(57, 57, 57);
  --time-red: crimson;
  --time-green: lightgreen;
  --time-yellow: yellow;
  --date-month: "";
  --date-day: "";
  --date-year: "";
  --date-hours: "";
  --date-min: "";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* ////////////////////////////////////////////////// */
/* Title */
/* /////////////////////////////////////////////////// */

header {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  z-index: 999999999999999;
  animation: --rise 2s both ease-out, --away 3s 2s both ease-in;
  /* animation: --rise 2s both ease-out; */
}

header span {
  font-family: BTTF;
  font-size: 10vw;
  color: black;
  text-align: center;

  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: lightblue;
  font-synthesis: none;
}
header section {
  display: grid;
  place-items: center;
  width: 100%;
}

header section > div:first-of-type {
  background: linear-gradient(180deg, #dd3029 0%, #fcdc30 100%);
  background-clip: text;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: --slideLeft 1s ease-out both;
}

header section > div:first-of-type span {
  font-size: 14vw;
  padding: 0 10px 0 0;
}

header section > div:first-of-type span:nth-of-type(2) {
  padding: 0 100px 0 0;
  margin: 0 0 0 -50px;
}

header section div:nth-of-type(2) {
  display: flex;
  text-transform: lowercase;
  background: linear-gradient(180deg, #fcdc30 0%, #db3424 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: --slideRight 1s ease-out both;
}

header section div:nth-of-type(2) div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header section div:nth-of-type(2) div span {
  font-size: 4vw;
}

@keyframes --rise {
  0% {
    opacity: 0;
    scale: 0.5;
    letter-spacing: 0.3em;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    scale: 1;
    letter-spacing: 0;
    filter: blur(0px);
  }
}

@keyframes --away {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 100;
    display: none;
  }
}

@keyframes --slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes --slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* ////////////////////////////////////////////////// */
/* Title */
/* /////////////////////////////////////////////////// */

p {
  bottom: 0;
  color: black;
  width: 100%;
  text-align: center;
}

#background {
  position: absolute;
  bottom: 10em;
  left: 0;
  z-index: -99999999;
  background-image: url("../images/cowboy.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#dashboard {
  position: absolute;
  width: 100vw;
  height: 40vh;
  bottom: 0;
  border-radius: 10% 0 0 0;
  background: linear-gradient(
    0deg,
    rgba(79, 79, 79, 1) 0%,
    rgba(108, 108, 108, 1) 61%,
    rgba(125, 125, 125, 1) 79%,
    rgba(70, 70, 70, 1) 100%
  );
  /* background-color: var(--dashboard-gray); */
  display: grid;
  place-items: center;
}

#windshield {
  position: relative;
  /* background: linear-gradient(
    180deg,
    rgba(126, 229, 246, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  ); */
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0) 70%,
    rgba(0, 212, 255, 0.4976584383753502) 100%
  );
  width: 100vw;
  height: 100vh;
}

#frame {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 10vw;
  transform: rotate(-25deg);

  background: linear-gradient(
    0deg,
    rgba(29, 29, 29, 1) 0%,
    rgba(87, 87, 87, 1) 61%,
    rgba(108, 108, 108, 1) 79%,
    rgba(27, 27, 27, 1) 100%
  );
  /* background: var(--dashboard-dark-gray); */
}

#mirror::after {
  position: absolute;
  right: -6em;
  top: 0;
  width: 6em;
  height: 3em;
  content: "";
  background-color: rgb(76, 76, 76);
}
main .date {
  position: absolute;
  bottom: 3em;
  right: 1em;
  background-color: gray;
  height: fit-content;
  border: 0.5em solid black;
}

main .date::before {
  position: absolute;
  width: 5em;
  height: 26em;
  content: "";
  background-color: black;
  left: -2.9em;
  bottom: 0;
  clip-path: polygon(50% 0, 10% 75%, 50% 100%);
}

main section {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
  align-items: flex-start;
  width: 40vw;
  height: 10vh;
}

main section div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

main section p {
  padding: 0 0.5em 0 0.5em;
  font-family: "inter";
  font-size: 1em;
  color: white;
  background-color: var(--time-red);
  text-transform: uppercase;
}

main section p:last-child {
  background-color: black;
  margin: 1em 0 1em 0;
}

main section span {
  font-family: digital-7;
  font-size: 2em;
  color: var(--time-red);
  background-color: #222;
  padding: 0.5em 1em 0.5em 1em;
}

main section:nth-child(3) span {
  color: var(--time-green);
}

main section:nth-child(5) span {
  color: var(--time-yellow);
}

h3 {
  background-color: black;
  font-family: "inter";
  font-size: 0.7em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

h3::after {
  display: block;
  width: 100%;
  height: 2em;
  background-color: rgb(57, 57, 57);
  content: "";
}

.am-pm {
  height: 100%;
  margin-top: 10px;
  font-size: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.am-pm span {
  display: block;
  padding: 0;
  margin: 0 0 0.5em 0;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: var(--time-red);
}

.am-pm span:nth-of-type(2) {
  background-color: var(--time-yellow);
}

.timeNotation {
  height: 100%;
  margin-top: 10px;
}

.timeNotation span {
  background-color: var(--time-yellow);
  border-radius: 50%;
  max-width: 10px;
  max-height: 10px;
  padding: 5px;
}

#month::after {
  content: var(--date-month);
}

#day::after {
  content: var(--date-day);
}

#year::after {
  content: var(--date-year);
}

#hour::after {
  content: var(--date-hours);
}

#min::after {
  content: var(--date-min);
}

/* Met behulp van Sanne gemaakt. */

fieldset {
  width: 6em;
  aspect-ratio: 1;
  padding: 0;
  border: none;
  display: grid;
}

legend {
  position: absolute;
  left: -9999em;
  margin-top: 0.5em;
}

label {
  grid-area: 1/1;
  position: relative;

  pointer-events: none;
  opacity: 0;

  width: 100%;
  height: 100%;
  background: black;
  color: var(--time-red);
  font-family: digital-7;
  font-size: 2em;
  padding: 0.2em;
  display: grid;
  place-items: center;
}

label:has(:checked) {
  opacity: 1;
}

/* het label na het label dat checked heeft kun je op klikken */
label:has( :checked ) + label,
/* en je kunt klikken op het 1e label als het laatste label checked heeft */
label:nth-of-type(1):has( ~ label:last-of-type :checked ) {
  pointer-events: all;
}

input {
  appearance: none;
  position: absolute;
  inset: 0;
  margin: 0;
}

/* ////////////////////////////////////////////////// */
/* Go button */
/* /////////////////////////////////////////////////// */

button {
  position: absolute;
  bottom: 5%;
  left: 45vw;
  border: 10px solid black;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 111, 111, 1) 0%,
    rgba(159, 0, 32, 1) 100%
  );
  box-shadow: black 0.1em 0.1em 0.1em;
  color: white;
  font-family: BTTF;
  font-size: 2vw;
  width: 10%;
  aspect-ratio: 1;
}

button:active {
  transform: translate(0.1em, 0.1em);
  box-shadow: none;
}
